body{
    text-align: center;
}
.flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #F8C24B; /* Color de fondo */
	padding: 5px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    width: 8%;
}
.flotante:hover {
	background-color: #8FCDCF; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
#botonflo{
    width: 100%;
}

@media screen and (max-width: 480px) {
    .todo{
        margin:2em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 80%;
        border-radius: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;

    }

    .mapa{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        padding-bottom: 5em;
        margin-top: 4em;
    }

    iframe {

        width:100%;
        height: 100%;
        border-radius: 1em;
        

    }
     footer{
        position:relative;
        bottom:0px;
    }
    .flotante {
        width: 15%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
    .todo{
        margin:2em;
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 60%;
        border-radius: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa{
        width:60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
    }

    iframe {

        width:100%;
        height: 100%;
        border-radius: 1em;
    }
    
     footer{
        position:relative;
        bottom:0px;
    }
    .flotante {
        width: 14%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px)  {
    .todo{
        margin-top: auto;
        margin-bottom: auto;
        padding:2em;   
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 80%;
        border-radius: 1em;
        padding-top: 5em;
        padding-bottom: 5em;  
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa{
        width:100%;  
        height: 180%;


    }

    iframe {
        width:80%;
        height: 190%;
        margin-top: 5em;
        border-radius: 1em;

    }
    
    footer{
        position:relative;
        bottom:0px;
    }
    .flotante {
        width: 8%;
    }
}

@media screen and (min-width: 1281px) {
    .todo{
        display: flex;
        margin-top: auto;
        margin-bottom: auto;

    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 40%;
        border-radius: 1em;
        padding-top: 5em;
        padding-bottom: 5em;   
        margin-left:5em;    
        margin-right: 2em;     
    }

    .mapa{
        width:50%;  
    }

    iframe {
        width:80%;
        height: 100%;
        border-radius: 1em;
    }

     footer{
        position:relative;
        bottom:0px;
    }
    .flotante {
        width: 7%;
    }
}



