body{
    text-align: center;
}
.flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #F8C24B; /* Color de fondo */
	padding: 5px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    width: 8%;
}
.flotante:hover {
	background-color: #8FCDCF; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
#botonflo{
    width: 100%;
}
@media screen and (max-width: 480px) {

  .flotante {
    width: 15%;
}
  

  .fotoPortada{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }
  
  .coleccionVideos{
    padding-top: auto;
    padding-bottom: auto;
  }

.videoPortada {
    width: 60%;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

}

@media screen and (min-width: 481px) and (max-width: 768px)  {
  .flotante {
    width: 14%;
  }
  .fotoPortada{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
.videoPortada {
    width: 60%;
    margin-bottom: 2em;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
  }

  .separacion {
    margin-top: 2em;
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
  .fotoPortada{
    width: 100%;
    padding: 0px;

  }
  
.videoPortada {
    width: 60%;
    padding:1em;
    padding-top: 2em;
    border-radius: 3em;
    

  }

}

@media screen and (min-width: 1280px) {
  .fotoPortada{
    width: 100%;
    padding: 0px;

  }
  
.videoPortada {
    width: 30%;
    padding:2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 3em;
  }
}





